/* --------- fonts ---------- */
@import url('https://fonts.googleapis.com/css?family=Basier+Circle:700,500,400,600|SF+Pro Display:700');

/* --------- general ---------- */

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

/* --------- header ---------- */
header {
    padding: 25px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

header .container {
    max-width: 1360px;
}

header .navbar-brand {
    width: 50px;
}

header .navbar-brand img {
    width: 100%;
}

header .navbar-nav .nav-item {
    margin: 0 20px;
    padding: 0;
}

header .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    color: #03045E;
    padding: 10px;
}

header .navbar-nav .nav-item.active .nav-link,
header .navbar-nav .nav-item .nav-link:hover {
    color: #03045E;
}

header .navbar-nav .nav-item .nav-link::before {
    content: '';
    background-color: #4460F1;
    width: 14px;
    height: 4px;
    position: absolute;
    border-radius: 4px;
    bottom: 0;
    left: calc(50% - 7px);
    transform: scale(0);
    transition: .3s ease;
}

header .navbar-nav .nav-item .nav-link:hover::before,
header .navbar-nav .nav-item.active .nav-link::before {
    transform: scale(1);
}

header .nav-item .nav-link .hydrated {
    font-size: 17px;
    position: relative;
    bottom: -4px;
}

.sub-menu {
    position: absolute;
    list-style: none;
    background: #fff;
    padding: 0;
    top: 48px;
    box-shadow: 0 13px 31px rgba(0, 0, 0, .10);
    border-radius: 5px;
    display: none;
    overflow: hidden;
}

.sub-menu .nav-item {
    padding: 0 !important;
    margin: 0 !important;
}

.sub-menu .nav-item .nav-link {
    display: block;
    padding: 8px 20px !important;
    transition: .3s;
    min-width: 150px;
    text-align: center;
}

.sub-menu .nav-item .nav-link:before {
    display: none;
}

.sub-menu .nav-item .nav-link:hover {
    background-color: #03045E;
    color: #fff !important;
}


header .right-nav .nav-item {
    padding: 0 10px;
}

header .right-nav .nav-item .nav-link {
    padding: 10px;
    color: #023E8A;
    font-weight: 500;
}

header .right-nav .language .dropdown-toggle::after {
    display: none;
}

header .right-nav .language .dropdown-menu {
    padding: 0;
    border: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .06);
    min-width: 150px;
    border-radius: 5px;
    overflow: hidden;
}

header .right-nav .language .dropdown-menu a {
    padding: 8px 20px;
    transition: .3s ease;
}

header .right-nav .language .dropdown-menu a:hover,
header .right-nav .language .dropdown-menu a.active {
    background-color: #03045E;
    color: #fff !important;
}

header .right-nav .nav-item .sign-in,
header .right-nav .nav-item .register {
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 20px;
    position: relative;
    transition: .3s;
    line-height: 16px;
}

header .right-nav .nav-item .register {
    background: #fff;
    box-shadow: 0 13px 31px rgba(0, 0, 0, .06);
    font-weight: bold;
    color: #03045E;
}

header .right-nav .nav-item .register:hover {
    background-color: #03045E;
    color: #fff;
}

header .right-nav .nav-item .sign-in:hover {
    box-shadow: 0 13px 31px rgba(0, 0, 0, .06);
    background-color: #03045E;
    color: #fff;
}

header .right-nav .shopping-bag {
    position: relative;
    background-color: rgba(68, 96, 241, .08);
    padding: 0 !important;
    border-radius: 50%;
    margin-left: 30px;
}

header .right-nav .shopping-bag img {
    width: 38px;
}

header .right-nav .shopping-bag span {
    position: absolute;
    background: #4460F1;
    box-shadow: 0 2px 10px rgba(68, 96, 241, .4);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    font-weight: bold;
    left: 26px;
    bottom: 22px;
}

.toggle-icon:focus {
    outline: 0;
}

.toggle-icon {
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 30px;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 3px;
}

.toggle-icon > span {
    bottom: 0;
    display: block;
    height: 2px;
    left: 8px;
    right: 0px;
    margin: auto;
    position: absolute;
    top: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: currentColor;
}

.toggle-icon > span:after,
.toggle-icon > span:before {
    content: '';
    height: 2px;
    right: 0;
    margin: auto;
    position: absolute;
    left: -6px;
    -webkit-transition: top .3s ease-in-out, -webkit-transform .3s ease-in-out, background .3s;
    -webkit-transition: top .3s ease-in-out, background .3s, -webkit-transform .3s ease-in-out;
    transition: top .3s ease-in-out, background .3s, -webkit-transform .3s ease-in-out;
    transition: top .3s ease-in-out, transform .3s ease-in-out, background .3s;
    transition: top .3s ease-in-out, transform .3s ease-in-out, background .3s, -webkit-transform .3s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: currentColor;
}

.toggle-icon > span:before {
    top: 9px;
}

.toggle-icon > span:after {
    top: -9px;
}

.toggle-icon[aria-expanded="true"] span {
    background-color: transparent !important;
}

.toggle-icon[aria-expanded="true"] span::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    top: 0;
}

.toggle-icon[aria-expanded="true"] span::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    top: 0;
}


@media (max-width:1140px) {
    header .navbar-nav .nav-item {
        margin: 0 10px;
    }

    header .right-nav .nav-item {
        padding: 0;
    }
}

@media (min-width:991px) {
    header .navbar-nav .nav-item:hover .sub-menu {
        display: block;
        opacity: 0;
        transform: translateY(30px);
        animation: sub-menu .4s ease;
        animation-fill-mode: forwards;
    }

    @keyframes sub-menu {
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

}

@media (max-width:991px) {
    header {
        padding: 15px 0;
    }

    .navbar-toggler {
        order: 3;
    }

    header .right-nav {
        margin-left: auto;
    }

    header .right-nav .shopping-bag {
        margin-right: 35px;
    }

    #navbarNav {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background: #fff;
        z-index: 999;
    }

    header .nav-item .nav-link:before {
        display: none;
    }

    .sub-menu {
        position: static;
        list-style: none;
        top: 0px !important;
        box-shadow: none;
        color: #03045E;
    }

    header .navbar-nav .nav-item:hover .sub-menu {
        display: block;
    }

}

@media (max-width:768px) {

    header .right-nav .nav-item .sign-in,
    header .right-nav .nav-item .register {
        display: none;
    }
}




/* ---------- banner --------- */

.banner {
    padding-top: 230px;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
    padding-bottom: 130px;
    z-index: 999;
    overflow: hidden;
}

.banner .row {
    position: relative;
}

.banner h1 {
    font-size: 53px;
}

.banner .button .btn {
    padding: 20px;
    background-color: #68DCCA;
    border-radius: 15px;
    width: 140px;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 16px;
    margin-top: 20px;
    color: #fff;
    transition: .3s ease;
}
.banner .button .btn:hover {
    background: #4460F1;
}

.banner form {
    max-width: 390px;
    margin-left: auto;
    padding: 50px 45px 40px;
    box-shadow: 0 50px 58px rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 99;
    border-radius: 15px;
}


.banner form .input-group {
    margin-bottom: 30px;
    position: relative;
}

.banner form .input-group select {
    padding: 15px 45px 15px 65px;
    height: 56px;
    border-radius: 10px !important;
    border: 0;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .07);
}


.banner form .custom-select {
    background: url("../images/ionic-ios-arrow-down.svg") no-repeat right 1.5rem center/8px 10px;
    background-size: 15px
}

.banner form .input-group label {
    position: absolute;
    left: 15px;
    top: 13px;
    z-index: 99;
}

.banner form .input-group label img {
    width: 30px;
}

.banner form .input-group input {
    padding: 15px 45px 15px 65px;
    height: 56px;
    border-radius: 10px !important;
    border: 0;
    background: #fff;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .07);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
}

.banner form .input-group.number label {
    background: #fff;
    left: 10px;
    top: 10px;
    border-radius: 7px;
    color: #4460F1;
    font-style: 18px;
    font-weight: bold;
    padding: 7px;
}

.banner form .button {
    text-align: center
}

.banner form .btn {
    background: #4460F1 !important;
    box-shadow: 0 9px 14px rgba(127, 166, 181, .28);
}
.banner form .btn:hover {
    background-color: #68DCCA !important;
}

.banner .man {
    position: absolute;
    left: 420px;
    top: 120px;
}

.banner .stats-bar {
    position: absolute;
    bottom: -100px;
    left: 90px;
}

.banner .rocket {
    position: absolute;
    bottom: -50px;
    z-index: 999
}

.banner .back-circle {
    position: absolute;
    top: 2%;
    right: -10%
}

.gradient-circle {
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%);
    z-index: -1
}

.gradient-circle2 {
    position: absolute;
    top: -2%;
    right: 8%;
    z-index: -1;
}



@media (max-width:991px) {
    .banner{
        padding-top: 180px;
        padding-bottom: 100px;
    }
    .banner h1 {
        font-size: 40px;
    }
    .banner form {
        padding: 40px 25px 40px;
    }

    .banner .back-circle {
        width: 260px;
        top: 20%;
    }
    
    .banner .man {
        position: absolute;
        left: 320px;
        top: 100px;
        width: 130px;
    }
    .banner .stats-bar {
        width: 120px;
    }
}
@media (max-width:768px) {
    .banner form {
        margin: auto ;
        margin-top: 70px;
        padding: 50px 45px 40px;
    }
    .banner .stats-bar {
        width: 100px;
        left: 20px;
        bottom: -150px;
    }
    .banner .back-circle {
        width: 350px;
        top: 20%;
    }
    .banner .man {
        right: 0;
        left: auto;
        top: 0px;
        width: 150px;
    }
}
@media (max-width:576px) {
    .banner h1{
        font-size: 35px;
        position: relative;
        z-index: 999
    }
}